.itemWrapper {
  width: 100%;
  height: auto;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}





.dateWrapper {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.imageArea {
  width: 200px;
  height: 160px;
  min-width: 200px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}



.imageArea img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.textArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}



.date {
  font-size: 14px;
  font-family: 'Lexend Deca';
  color: #1D2027;
  padding: 3px 10px;
}

.labelWrapper {
  display: flex;
  align-items: center;
}

.categoryLabel {
  font-family: 'M PLUS Rounded 1c';
  font-size: 11px;
  color: white;
  padding: 3px 5px;
}

/* カテゴリー別の背景色 */
.categoryLabel[data-category="お仕事"] {
  background-color: #A4E1EA;
}

.categoryLabel[data-category="イベント"] {
  background-color: #C3DD9E;
}

.categoryLabel[data-category="お知らせ"] {
  background-color: #F4B4A5;
}

.title {
  font-size: 14px;
  font-family: 'M PLUS Rounded 1c';
  font-weight: bold;
  color: #1D2027;
  letter-spacing: 1px;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}




.excerpt {
  font-size: 12px;
  font-family: 'M PLUS Rounded 1c';
  color: #626262;
  line-height: 1.4;
  padding: 0 10px;
  margin-top: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


@media screen and (max-width: 839px) {
  .title {
    font-size: 12px;
    -webkit-line-clamp: 2;
    max-height: 2.8em;
    line-height: 1.4;
  }

  .textArea {
    min-height: 0px;
  }

  .itemWrapper {
    min-height: 100px;
  }

  .imageArea {
    width: 130px;
    height: 110px;
    min-width: 0px;
  }

  .excerpt {
    -webkit-line-clamp: 2;
  }
}

@media screen and (min-width: 720px) and (max-width: 920px) {
  .title {
    font-size: 13px;
  }

  .imageArea {
    width: 18dvw;
    height: auto;
    min-width: auto;
  }

  .itemWrapper {
    min-height: 120px;
  }

  .textArea {
    min-height: auto;
  }

  .excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
}