.header {
  display: flex;
  justify-content: center;
  /* 水平方向の中央寄せ */
  align-items: center;
  /* 垂直方向の中央寄せ */
  width: 100%;
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 20px 10px;
  margin: 0;
  text-decoration: none;
  font-family: "Lexend Deca", serif;
  font-size: 40px;
  color: gray;
}