@keyframes fadeIn {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin-right: 12px;
}

/* Colors for each dot */
.dot:nth-child(4n + 1) {
  background-color: white;
}

.dot:nth-child(4n + 2) {
  background-color: white;
}

.dot:nth-child(4n + 3) {
  background-color: white;
}

.dot:nth-child(4n + 4) {
  background-color: white;
}

/* Animation delays for each dot */
.dot:nth-child(1) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.05s;
}

.dot:nth-child(2) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.15s;
}

.dot:nth-child(4) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.2s;
}

.dot:nth-child(5) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.25s;
}

.dot:nth-child(6) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.3s;
}

.dot:nth-child(7) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.35s;
}

.dot:nth-child(8) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.4s;
}

.dot:nth-child(9) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.45s;
}

.dot:nth-child(10) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.5s;
}

.dot:nth-child(11) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.55s;
}

.dot:nth-child(12) {
  animation: fadeIn 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
  animation-delay: 0.6s;
}

.start_wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background-color: #1d2027;
  display: flex;
  justify-content: center;
  align-items: center;
}